# Real Estate Investing Analysis

To Do's at some point:
- update Docker image with Selenium
- find Google Chrome path location (or firefox path location) to use Selenium

### Explore:

- best markets for Airbnb
    - this would be median income over median sale price or avg income over avg sale price
- Austin specifically
    - 3/2 better than 2/1?
    - certain areas better than others?

Steps:
1. Importing
2. Cleaning
3. EDA
4. Visualizations
5. Conclusions

----

**TOOLS I WANT TO USE:**
- APIs
- Spark
- Docker
- Matplotlib
- AWS
- Frequentist and Bayesian Hypothesis Testing
- Pandas
- SQL
- GitHub and different branches and merging (nbstripout)

**STRETCHES:**
- maximum likelihood estimation to find a distribution
- Central Limit Theorem and bootstrapping to estimate means 
- Cloropleth map

**WHO IS YOUR AUDIENCE?**
COME UP WITH A PERSONA - WHAT DO THEY WANT TO KNOW AND WHY?
WHAT'S THE POINT OF THIS?

**NOTES:**
- readme file as you go
- interesting data that can keep you busy
- helper functions from the start

TECHNICAL SKILLS:
-EDA
- Visualization
- Hypothesis Testing
- Web Scraping/APIS

PRESENTATION SKILLS:
- Communicating technical findings
- Creating effective presentation

----

## Importing

In [41]:
%run src/imports.py

#### About the data

weekly_housing_market_data_most_recent.tsv 
- shows a bunch of information about the housing market
- useful columns - median sale price, region, region_id, median pending sqft, region name, region type

listings.csv
- useful columns - name, neighborhood, latitude, longitude, price, availability, room type

**listings2.csv**

**- can use this to scrape guests, bedrooms, beds, baths data**
- the only thing I would want from here is ID and listing_url

reviews.csv
- worthless

calendar.csv
- probably worthless

neighborhoods.csv
- probably worthless

In [4]:
REdf = pd.read_csv('data/weekly_housing_market_data_most_recent.tsv',delimiter='\t')

In [8]:
listingsdf = pd.read_csv('data/listings.csv')

In [14]:
import gzip
import shutil
with gzip.open('data/calendar.csv.gz', 'rb') as f_in:
    with open('data/calendar.csv', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

In [24]:
import gzip
import shutil
with gzip.open('data/listings.csv.gz', 'rb') as f_in:
    with open('data/listings2.csv', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

In [25]:
listingsdf2 = pd.read_csv('data/listings2.csv')

In [32]:
listingsdf2.listing_url[0]

'https://www.airbnb.com/rooms/2265'

In [16]:
cal_df = pd.read_csv('data/calendar.csv')

In [20]:
cal_df.head(10)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2482916,2020-10-21,f,$500.00,$500.00,1.0,1125.0
1,2482916,2020-10-22,f,$625.00,$625.00,1.0,1125.0
2,2482916,2020-10-23,f,$625.00,$625.00,2.0,1125.0
3,2482916,2020-10-24,f,$625.00,$625.00,2.0,1125.0
4,2482916,2020-10-25,f,$625.00,$625.00,1.0,1125.0
5,2482916,2020-10-26,f,$625.00,$625.00,1.0,1125.0
6,2482916,2020-10-27,f,$500.00,$500.00,1.0,1125.0
7,2482916,2020-10-28,f,$500.00,$500.00,1.0,1125.0
8,2482916,2020-10-29,f,$500.00,$500.00,1.0,1125.0
9,2482916,2020-10-30,f,$550.00,$550.00,2.0,1125.0

In [9]:
listingsdf.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2265,Zen-East in the Heart of Austin (monthly rental),2466,Paddy,NaN,78702,30.27750,-97.71398,Entire home/apt,179,7,24,2019-03-16,0.17,3,129
1,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,Paddy,NaN,78702,30.27577,-97.71379,Private room,114,30,9,2018-03-14,0.06,3,0
2,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.26112,-97.73448,Entire home/apt,95,2,536,2020-10-11,3.79,1,360
3,5636,"Soco, Barton Springs Private Guest Cottage",7148,Peggy,NaN,78704,30.24630,-97.76361,Entire home/apt,46,30,20,2012-05-24,0.14,2,85
4,5769,NW Austin Room,8186,Elizabeth,NaN,78729,30.45697,-97.78422,Private room,39,1,257,2019-11-03,2.00,1,78

In [10]:
listingsdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10305 entries, 0 to 10304
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              10305 non-null  int64
 1   name                            10305 non-null  object
 2   host_id                         10305 non-null  int64
 3   host_name                       10302 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   10305 non-null  int64
 6   latitude                        10305 non-null  float64
 7   longitude                       10305 non-null  float64
 8   room_type                       10305 non-null  object
 9   price                           10305 non-null  int64
 10  minimum_nights                  10305 non-null  int64
 11  number_of_reviews               10305 non-null  int64
 12  last_review                     7619 non-null   object
 13  reviews_per_month               7619 non-null   float64
 14  calculated_host_listings_count  10305 non-null  int64
 15  availability_365                10305 non-null  int64
dtypes: float64(4), int64(8), object(4)
memory usage: 1.3+ MB

In [6]:
REdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 957589 entries, 0 to 957588
Data columns (total 78 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   region_id                                     957589 non-null  int64
 1   region_type_id                                957589 non-null  int64
 2   region_name                                   957589 non-null  object
 3   region_type                                   957589 non-null  object
 4   period_begin                                  957589 non-null  object
 5   period_end                                    957589 non-null  object
 6   duration                                      957589 non-null  object
 7   total_homes_sold                              920667 non-null  float64
 8   total_homes_sold_yoy                          901620 non-null  float64
 9   average_homes_sold                            920667 non-null  float64
 10  average_homes_sold_yoy                        901620 non-null  float64
 11  total_homes_sold_with_price_drops             920667 non-null  float64
 12  total_homes_sold_with_price_drops_yoy         772977 non-null  float64
 13  average_homes_sold_with_price_drops           920667 non-null  float64
 14  average_homes_sold_with_price_drops_yoy       703935 non-null  float64
 15  percent_homes_sold_with_price_drops           920667 non-null  float64
 16  percent_homes_sold_with_price_drops_yoy       901620 non-null  float64
 17  median_sale_price                             920667 non-null  float64
 18  median_sale_price_yoy                         901620 non-null  float64
 19  median_sale_ppsf                              919212 non-null  float64
 20  median_sale_ppsf_yoy                          899042 non-null  float64
 21  median_days_to_close                          920667 non-null  float64
 22  median_days_to_close_yoy                      901620 non-null  float64
 23  price_drops                                   854235 non-null  float64
 24  price_drops_yoy                               803760 non-null  float64
 25  percent_active_listings_with_price_drops      854212 non-null  float64
 26  percent_active_listings_with_price_drops_yoy  803726 non-null  float64
 27  pending_sales                                 845086 non-null  float64
 28  pending_sales_yoy                             814265 non-null  float64
 29  median_pending_sqft                           843542 non-null  float64
 30  median_pending_sqft_yoy                       811471 non-null  float64
 31  off_market_in_two_weeks                       845086 non-null  float64
 32  off_market_in_two_weeks_yoy                   588775 non-null  float64
 33  percent_off_market_in_two_weeks               845086 non-null  float64
 34  percent_off_market_in_two_weeks_yoy           814265 non-null  float64
 35  total_new_listings                            931440 non-null  float64
 36  total_new_listings_yoy                        915840 non-null  float64
 37  average_new_listings                          931440 non-null  float64
 38  average_new_listings_yoy                      915840 non-null  float64
 39  median_new_listing_price                      931243 non-null  float64
 40  median_new_listing_price_yoy                  915600 non-null  float64
 41  median_new_listing_ppsf                       930193 non-null  float64
 42  median_new_listing_ppsf_yoy                   913748 non-null  float64
 43  inventory                                     957121 non-null  float64
 44  inventory_yoy                                 954516 non-null  float64
 45  total_active_listings                         957298 non-null  float64
 46  total_active_listings_yoy                     954809 non-null  float64
 47  active_listings                               957298 non-null  float64
 48  active_listings_yoy                           954809 non-null  float64
 49  age_of_inventory                              957121 non-null  float64
 50  age_of_inventory_yoy                          954516 non-null  float64
 51  homes_delisted                                795159 non-null  float64
 52  homes_delisted_yoy                            746589 non-null  float64
 53  percent_active_listings_delisted              795159 non-null  float64
 54  percent_active_listings_delisted_yoy          746589 non-null  float64
 55  median_active_list_price                      957195 non-null  float64
 56  median_active_list_price_yoy                  954699 non-null  float64
 57  median_active_list_ppsf                       957142 non-null  float64
 58  median_active_list_ppsf_yoy                   954510 non-null  float64
 59  average_of_median_list_price_amount           227913 non-null  float64
 60  average_of_median_list_price_amount_yoy       171153 non-null  float64
 61  average_of_median_offer_price_amount          225283 non-null  float64
 62  average_of_median_offer_price_amount_yoy      169558 non-null  float64
 63  avg_offer_to_list                             225128 non-null  float64
 64  avg_offer_to_list_yoy                         169373 non-null  float64
 65  average_sale_to_list_ratio                    919294 non-null  float64
 66  average_sale_to_list_ratio_yoy                900030 non-null  float64
 67  median_days_on_market                         918249 non-null  float64
 68  median_days_on_market_yoy                     897730 non-null  float64
 69  pending_sales_to_sales_ratio                  830452 non-null  float64
 70  pending_sales_to_sales_ratio_yoy              799016 non-null  float64
 71  months_of_supply                              920191 non-null  float64
 72  months_of_supply_yoy                          901133 non-null  float64
 73  average_pending_sales_listing_updates         867549 non-null  float64
 74  average_pending_sales_listing_updates_yoy     818916 non-null  float64
 75  percent_total_price_drops_of_inventory        854227 non-null  float64
 76  percent_total_price_drops_of_inventory_yoy    803755 non-null  float64
 77  last_updated                                  957589 non-null  object
dtypes: float64(70), int64(2), object(6)
memory usage: 569.9+ MB

## Cleaning

## EDA

## Visualizations

## Conclusions